.frame {
	height: 575px;
	width: 430px;
	background: linear-gradient(rgba(0, 0, 0, 0.904), rgba(92, 93, 100, 0.95)),
		url(https://dl.dropboxusercontent.com/u/22006283/preview/codepen/clouds-cloudy-forest-mountain.jpg) no-repeat center
			center;
	background-size: cover;
	margin-left: auto;
	margin-right: auto;
	border-top: solid 1px rgba(255, 255, 255, 0.5);
	border-radius: 50px;
	box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	transition: all 0.5s ease;
}

.form-styling {
	width: 100%;
	height: 35px;
	padding-left: 15px;
	border: none;
	border-radius: 20px;
	margin-bottom: 20px;
	background: rgba(255, 255, 255, 0.2);
}

.form-login {
	width: 430px;
	height: 375px;
	font-size: 16px;
	font-weight: 300;
	padding-left: 37px;
	padding-right: 37px;
	padding-top: 55px;
	transition: opacity 0.5s ease, transform 0.5s ease;
}

.btn-animate {
	float: left;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 13px;
	text-align: center;
	color: rgba(255, 255, 255, 1);
	padding-top: 8px;
	width: 100%;
	height: 35px;
	border: none;
	border-radius: 20px;
	margin-top: 23px;
	background-color: rgba(16, 89, 255, 1);
	left: 0px;
	top: 0px;
	transition: all 0.5s ease, top 0.5s ease 0.5s, height 0.5s ease 0.5s, background-color 0.5s ease 0.75s;
}
.bmiCalculator {
	background: url("https://res.cloudinary.com/bytesquad202202/image/upload/v1660761845/images/bmi_y7oxp2.jpg");
	background-position: center;
	background-size: cover;
}
