.memoEditBg {
	background: url("https://res.cloudinary.com/bytesquad202202/image/upload/v1664260460/images/post-it-note-2581479_1920_vagqcy.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.memoContainer {
	display: flex;
	flex-direction: column;
	margin: 20px;
}
.denied {
	background: url("https://res.cloudinary.com/bytesquad202202/image/upload/v1660761809/images/accessDenied_zhvugi.jpg");
	background-position: center;
	background-size: cover;
}
