.trainerWorkoutScheduleCreate {
	background: url("https://res.cloudinary.com/bytesquad202202/image/upload/v1662126153/images/WorkoutBackgroundCreate_uxf1lh.jpg");
	background-position: center;
	background-size: cover;
}
.WorkoutBackgroundUpdate {
	background: url("https://res.cloudinary.com/bytesquad202202/image/upload/v1662126152/images/WorkoutBackgroundUpdate_vuapcj.jpg");
	background-position: center;
	background-size: cover;
}
.WorkoutBackgroundView {
	background-color: rgb(8, 90, 92);
	background-size: cover;
}

.TimeSpentBackgroud {
	background: url("https://res.cloudinary.com/bytesquad202202/image/upload/v1665312677/images/time_bpdkjv.jpg");
	background-position: center;
	background-size: cover;
}
.TimeSpentDisplayBackgroud {
	background: url("https://res.cloudinary.com/bytesquad202202/image/upload/v1665321526/images/DisplayTime_nma5vi.jpg");
	background-position: center;
	background-size: cover;
}
