img {
	height: 150px;
	padding: 0px;
	margin-left: 20px;
	margin-bottom: 20px;
}

button:hover {
	cursor: pointer;
}

.Navbar {
	background-color: #000000;
	width: 100%;
	height: 160px;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
}

.Navbar .leftSide {
	flex: 15%;
}

.Navbar .rightSide {
	flex: 80%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.Navbar.rightSide.a:hover {
	color: #a9a9a9;
}
