.customerReportBg {
	background: url("https://res.cloudinary.com/bytesquad202202/image/upload/v1660768504/images/customer-report_thz2ky.jpg");
	background-position: center;
	background-size: cover;
}
