.customerList {
	background: rgb(48, 58, 54);
	background-repeat: no-repeat;
}
.trainerList {
	background: rgb(86, 118, 126);
	background-repeat: no-repeat;
}
.denied {
	background: url("https://res.cloudinary.com/bytesquad202202/image/upload/v1660761809/images/accessDenied_zhvugi.jpg");
	background-position: center;
	background-size: cover;
}
