.TermsAndCondtionBackground {
	background: url("https://res.cloudinary.com/bytesquad202202/image/upload/v1665123559/Terms_and_condition_xv67aj.webp");
	background-size: cover;
	background-position: center;
}
