.TermsAndCondtionBackground {
	background: url("https://cdn-ami-drupal.heartyhosting.com/sites/muscleandfitness.com/files/media/man-gym-workout-dumbbells-1109.jpg");
	background-size: cover;
	background-position: center;
}
